@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;

}

.stats{
    font-family: 'Outfit', sans-serif;
}
:root{
    --white:hsl(0, 0%, 100%);
    --light-grey:hsl(212, 45%, 89%);
    --grayish-blue:hsl(220, 15%, 55%);
    --dark-blue:hsl(218, 44%, 22%);
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light-grey);

    
}
.card {
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background: var(--white);
    padding: 20px;
    border-radius: 10px;
  }
  .content{
background: var(--white);
}

  .card .content h3{
    color: var(--dark-blue);
    font-size: 700;
    margin-top: 12px;
  }
  .content p{
    font-size: 15px;
    margin-top: 12px;
    margin-bottom: 20px;


  }

